{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="about">
            <div class="banner d-flex">
                <div class="item d-flex flex-column justify-content-center align-items-center text-left w-100">
                    <div class="container description">
                        <div class="row">
                            <div class="col-md-4">
                                <h1>Tentang kami</h1>
                            </div>
                            <div class="col-md-8 a">
                                <p>Kami berdiri sejak 2004, menyuplai pembangunan di berbagai daerah, produk yang kami hasilkan berbagai macam keperluan pembangunan seperti kusen, pintu, jendela dan berbagai furniture ruangan. Dengan media website resmi ini kami harap kita dapat semakin dekat anda dapat melihat dan menentukan model produk sesuai kebutuhan anda.</p>
                                <img src="{% static '' %}images/about-exp.png" alt="tentang anugerah mebel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="description">
                        <h2>Produk kami</h2>
                        <p>Kusen, pintu, meja, kursi, kitchen set, tempat tidur, lemari dan masih banyak lagi, adalah hasil dari tangan terampil karyawan kami. lihat berbagai macam produk dikatalog kami berikut.</p>
                        <a href="/katalog" class="btn-jm-black mt-3">Kunjungi KATALOG</a>
                    </div>
                    <div class="trust">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Mereka pecaya kami</h2>
                            </div>
                            <div class="col-md-8">
                                <p>Berbagai produk kami telah digunakan oleh mereka.</p>
                                <p>Jadilah bagian dari kami untuk memiliki produk anugerah mebel sesuai keinginan anda.</p>
                                <div class="d-flex flex-wrap align-items-center">
                                    <img class="img-fluid" src="{% static '' %}images/image_81.webp" alt="">
                                    <img class="img-fluid" src="{% static '' %}images/image_80.webp" alt="">
                                    <img class="img-fluid" src="{% static '' %}images/image_54.webp" alt="">
                                    <img class="img-fluid" src="{% static '' %}images/image_102.webp" alt="">
                                    <img class="img-fluid" src="{% static '' %}images/image_76.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock body %}