<aside class="filter">
    <b class="title">Pusat Informasi</b>
    <ul class="list">
        <li class="item pb-1">
            <a href="/contact" class="item pb-1">Contact</a>
        </li>
        <li class="item pb-1">
            <a href="/showrooms" class="item pb-1">Showrooms</a>
        </li>
        <li class="item pb-1">
            <a href="/pembayaran-dan-pengiriman" class="item pb-1">Pembayaran dan Pengiriman</a>
        </li>
    </ul>
</aside>