{% load static %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>anugerah mebel mockup</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static 'scripts/bower_components/bootstrap/dist/css/bootstrap.min.css' %} " />
    <link rel="stylesheet" href="{% static 'scripts/bower_components/flickity/css/flickity.css' %}" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="{% static ''%}styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="{% static ''%}scripts/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- build:cdn -->
    <script src="https://use.fontawesome.com/11e5832872.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="app">
      {% include 'header.html' %}
      
      {% block body %} 
      
      {% endblock %}
      
      {% include 'footer.html' %}
    </div>

    {% include 'script.html'%}
  </body>
</html>
