{% load static %}

<div class="main-carousel">
  {% for cr in carousel %}
    <div class="carousel-cell">
      <img src="{{cr.image.url}}" alt="Anugerah Mebel" />
      <div
        class="carousel-text container d-flex flex-column justify-content-center align-items-start"
      >
        <b>{{cr.title}}</b>
        <p>{{cr.sub_title}}</p>
        <a href="localhost:5050{{cr.url}}" class="btn-jm">{{cr.triger_button}}</a>
      </div>
    </div>
  {% endfor %}
</div>
