<div
    class="modal fade"
    id="contactForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="contactFormTitle"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Kirimkan pesan anda.
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="section-title">
                    {% comment %} <h3 class="title">{% trans "Contact Form"%}</h3> {% endcomment %}

                    {% if messages %} {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %}
                </div>
                <form id="contact-from" class="clearfix" method="post">
                    {% csrf_token %} {{ form }}
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn-jm btn-jm-black" value="Kirim pesan">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
