{% extends 'base.html' %}
{% load static %}

{% block body %}

     <div class="store-product information d-flex">
        {% include 'aside-information.html' %}
        <div class="storefront information-content related text-left col-9">
            <div class="d-flex flex-column justify-content-between">
                <ul class="bredchrumb nav">
                    <li class="nav-link text-uppercase pl-0">Home</li>
                    <li class="nav-link text-uppercase">Contact</li>
                </ul>
            </div>
            <h1>Contact</h1>
            <p>Kami adalah brand penyedia kebutuhan pembangunan serta memenuhi segala kebutuhan furniture anda.</p>
            <p>Kami selalu terbuka untuk berkolaborasi, berpartner membuka peluang dan meciptakan sinergi positif. Jangan kawatir hubungi kami kapanpun melalui contact form dan nomor telephone dibawah ini</p>

            <div class="row flex-wrap d-flex contact-link">
                <div class="col-sm-6">
                    <h5>Telephone : </h5>
                    <p><a href="tel:081912312312">081912312312</a></p>
                </div>
                <div class="col-sm-6">
                    <h5>Jam kerja : </h5>
                    <p>Senin-Sabtu 08.00-17.00</p>
                    <br>
                    <p>Admin online 24/7</p>
                </div>
            </div>

            <div class="row flex-wrap d-flex contact-link">
                <div class="col-sm-6">
                    <h5>Email : </h5>
                    <p><a href="mailto:anugerahmebel1@gmail.com">anugerahmebel1@gmail.com</a></p>
                </div>
            </div>
            <button class="btn-jm btn-jm-black" data-toggle="modal" data-target="#contactForm">
                Hubungi kami
            </button>

            {% include 'contact-form.html' %}

        </div>
    </div>

{% endblock body %}