<footer>
  <div class="d-flex justify-content-between flex-wrap align-item-center">
    <div class="item">
      <b class="text-uppercase">anugerah 2020</b>
      <span>all right reserved</span>
    </div>
    <div class="item">
      <span>privacy policy</span>
      <span>pusat informasi</span>
    </div>
    <div class="item">
      <i class="fa fa-facebook fa-2x"></i>
      <i class="fa fa-instagram fa-2x"></i>
    </div>
  </div>
</footer>
