{% load static %}

<header class="stick">
  <div class="menu-top d-flex justify-content-between align-items-center">
    <div class="phone">
      <a href="#" class="jm-link">Phone : 0819 123 123 23</a>
    </div>
    <div class="navigation d-flex align-items-center">
      <nav class="navbar navbar-expand-lg py-0">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item px-4">
              <a href="/contact" class="">CONTACT</a>
            </li>
            <li class="nav-item px-4">
              <a href="/about" class="">TENTANG KAMI</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="menu">
        <ul class="nav">
          <!-- <li class="nav-item px-3">
                  <img src="{%static '' %}images/cart.png" alt="" width="18px" height="18px">
                </li>
                <li class="nav-item px-3">
                  <img src="{%static '' %}images/search.png" alt="" width="18px" height="18px">
                </li> -->
          <li class="nav-item px-3" id="closeMenu">
            <img
              src="{%static '' %}images/cancel.png"
              alt=""
              width="18px"
              height="18px"
            />
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="menu-top d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="/">
      <img
        src="{%static '' %}images/anugrah-meubel-white.png"
        alt="Anugerah Mebel"
      />
      <a/>
    </div>
    <div class="navigation d-flex align-items-center">
      <nav class="navbar navbar-expand-lg py-0">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item px-4">
              <a href="/katalog" class="">KATALOG</a>
            </li>
            <li class="nav-item px-4">
              <a href="/showrooms" class="">SHOWROOMS</a>
            </li>
            <li class="nav-item px-4">PROMO</li>
            <li class="nav-item px-4">
              <a href="/pembayaran-dan-pengiriman" class="active">PEMBAYARAN DAN PENGIRIMAN</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="menu">
        <ul class="nav">
          <!-- <li class="nav-item px-3">
                  <img src="{%static '' %}images/cart.png" alt="" width="18px" height="18px">
                </li> -->
          <li class="nav-item px-3">
            <img
              src="{%static '' %}images/search.png"
              alt=""
              width="18px"
              height="18px"
            />
          </li>
          <li class="nav-item px-3" id="openMenu">
            <img
              src="{%static '' %}images/burger.png"
              alt=""
              width="18px"
              height="18px"
            />
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="menu-mob">
    <div class="navigation-mob">
      <nav class="navbar menu flex-column align-items-start">
        <a href="/katalog" class="nav-item">Katalog</a>
        <a href="/showrooms" class="nav-item">Showrooms</a>
        <a href="/promo" class="nav-item">Promo</a>
        <a href="/pembayaran-dan-pengiriman" class="nav-item">pembayaran dan pengiriman</a>
      </nav>
      <nav class="navbar sub-menu flex-column align-items-start">
        <a href="/contact" class="nav-item">Contact</a>
        <a href="/about" class="nav-item">Tentang kami</a>
      </nav>
      <div class="phone">
        <a href="#">+62 8191 2251 622</a>
      </div>
    </div>
  </div>
</header>
