{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include 'carousel.html'%} 
{% include 'storefront.html' with product_list=product_latest %}

<div class="banner d-flex">
  <div
    class="item d-flex flex-column justify-content-center align-item-center text-center w-100"
  >
    <img
      src="{%static '' %}images/anugerah-banner.png"
      alt="Anugerah mebel Banner"
    />
    <p>
      Kami Anugerah mebel melayani pembuatan pintu, kusen, jendela, meja kursi,
      lemari, dan berbagai kebutuhan rumah anda. Lihat berbagai produk yang kami
      tawarkan di :
    </p>
    <h1>Anugerah Katalog</h1>
  </div>
</div>

{% include 'storefront.html' with product_list=product_cat_ek %}

<div class="banner d-flex">
  <div
    class="item d-flex flex-column justify-content-center align-item-center text-center w-100"
  >
    <img
      src="{%static '' %}images/interior.jpg"
      alt="Anugerah mebel Banner"
    />
    <p>
      Anugerah mebel katalog
    </p>
    <h1>Interior</h1>
    <a href="/katalog/interior" class="btn-jm">lihat katalog</a>
  </div>
  <div
    class="item d-flex flex-column justify-content-center align-item-center text-center w-100"
  >
    <img src="{%static '' %}images/ekterior.jpg" alt="Anugerah mebel Banner" />
    <p>
      Anugerah mebel katalog
    </p>
    <h1>Eksterior</h1>
    <a href="/katalog/eksterior" class="btn-jm">lihat katalog</a>
  </div>
</div>

{% include 'storefront.html' with product_list=product_cat_in %}

{% endblock body %}

