{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block body %}
<div class="store-product d-flex">
    <aside class="filter">
        {% comment %} {% for cat in categories %}
            <b class="title">{{cat.title}}</b>
        {% endfor %} {% endcomment %}
        
        {% recursetree categories %}

            <ul class="list">
                {% if node.is_child_node %}
                    <li class="item"> <a href="/katalog/{{node.slug}}" class="link-jm"> {{node.title}}</a></li>
                {% else %}
                    <b class="title"> {{node.title}}</b>
                {% endif %}

                {% if not node.is_leaf_node %}
                    <ul class="list-children children p-0">
                        {{ children }}
                    </ul>
                {% endif %}
            </ul>

        {%endrecursetree%}

    </aside>
    <div class="storefront storefront-list related text-left">
        <div class="category-banner">
            <img src="{% static '' %}images/jlo-1644x724.jpg" alt="" class="img-fluid">
            <div class="d-flex flex-column justify-content-between">
                <ul class="bredchrumb nav">
                    <li class="nav-link"><a href="/" class="link-jm">Home</a></li>
                    <li class="nav-link"><a href="#" class="link-jm">Katalog</a></li>
                </ul>
                <h1>Katalog</h1>
                <span>
                    <i class="fa fa-angle-down"></i> Scroll Down
                </span>
            </div>
            <div class="sh"><img src="{% static ''%}images/burger_w.png">×</div>
        </div>
        <div class="sort d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <label class="control-label text-uppercase">total products : </label>
                <b>{{product_count}}</b>
            </div>
            <div class="d-flex align-items-center">
                <label class="control-label text-uppercase">Sort : </label>
                <div class="select input-sort">
                    <div class="select-styled active">
                        <span class="text-uppercase">Default</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="products full d-flex flex-wrap">
            {% for product in page_obj %}
                <a href="/product/{{product.id}}/{{product.slug}}" class="item d-flex flex-column justify-content-between align-items-center">
                    <div class="caption w-100 d-flex justify-content-between">
                        <div class="detail">
                            <h2 class="title">{{product.title}}</h2>
                            <div class="price">RP {{product.price}}</div>
                        </div>
                        <span class="label label-top text-uppercase">{{product.label}}</span>
                    </div>
                    <div class="images text-center">
                        <img src="{{product.image.url}}" alt="JM-195" class="img-fluid">
                    </div>
                    <div class="model w-100 text-left">{{product.model}}</div>
                </a>
            {% endfor %}
        </div>
        {% comment %} <div class="text-center">
            <div class="btn-jm-black">MORE PRODUCTS</div>
        </div> {% endcomment %}
        <nav aria-label="" class="mt-9">
            <ul class="pagination justify-content-center">
                <li class="page-item page-item-circle disabled">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <span class="page-link"><i class="fa fa-angle-left fa-2x"></i></span>
                    </a>
                {% endif %}
                </li>
                {% comment %} {% for page_num in page_obj.paginator.num_pages %}
                    <li class="page-item page-item-number"><a class="page-link" href="">{{page_num}}</a></li>
                {% endfor %} {% endcomment %}
                <li class="page-item page-item-number is-active">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    {% comment %} <span class="page-link">
                        <span class="sr-only">(current)</span>
                    </span> {% endcomment %}
                </li>
                <li class="page-item page-item-circle">
                     {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <span class="page-link"><i class="fa fa-angle-right fa-2x"></i></span>
                        </a>
                    {% endif %}

                </li>
            </ul>
        </nav>
        <div class="seo-text">
            <p class="title">Katalog</p>
            <p>Tables are one of the main attributes in the interior. Depending on the shape, material, color, you can create a completely new design of the room. When choosing a dining table, consider the look, size, shape and material. These can be round dining tables, oval, rectangular, etc. We recommend immediately choosing dining tables and chairs that will harmoniously complement the interior. </p>
            <p>For a comfortable place in the office, the desktop plays an important role. Desks are largely responsible for convenience and productivity. After all, the right desktop is the key to an effective day at the office. Special attention should be paid to the choice of furniture for establishments. Tables for cafes, bar tables and other attributes are an opportunity to declare yourself and see visitors more than once. </p>
            <p>In our store, you can also choose coffee tables, table supports, work tables and others.</p>
        </div>
    </div>
</div>
{% endblock %}