{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="store-product information d-flex">
        {% include 'aside-information.html' %}
        <div class="storefront information-content related text-left col-9 sp-information">
            <div class="d-flex flex-column justify-content-between">
                <ul class="bredchrumb nav">
                    <li class="nav-link text-uppercase pl-0">Home</li>
                    <li class="nav-link text-uppercase">Pembayaran dan Pengiriman</li>
                </ul>
            </div>
            
            <h1>Pembarayan dan Pengiriman</h1>
            
            <p>Setelah melakukan order melalui pesan whatsapp, admin akan membuatan invoice kepada konsumen sesuai kesepakatan, order akan di sampaikan ke manajer untuk segera dilakukan produksi.</p>

            <h4>Status</h4>
            
            <ul class="list">
                <li class="nav-item py-3"> <strong>--Accept </strong> / Diterima</li>
                <li class="nav-item py-3"> <strong>--OnProduction </strong> / Sedang Produksi </li>
                <li class="nav-item py-3"> <strong>--OnShipping </strong> / Sedang Dikirim</li>
                <li class="nav-item py-3"> <strong>--Delivered </strong> / Diterima</li>
            </ul>
            
            <p>Status order diatas akan di sampaikan ke konsumen secara berkala melalui email atau by phone.</p>

            <h4>Pembayaran</h4>

            <p>Pembayaran dapat dilakukan melalui Bank transfer dan Cod (Cash on Delivery) sesuai kesepakatan dengan manajer.</p>



            

        </div>
    </div>

{% endblock body %}