{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="product">
        <div class="product-card container">
            <ul class="bredchrumb nav">
                <li class="nav-link">Home</li>
                <li class="nav-link">{{product.category}}</li>
                <li class="nav-link">{{product.slug}}</li>
            </ul>
            <div class="row">
                <div class="col-md-6 product-images">
                    <div class="carousel-product">
                        {% for img in images %}
                            <div class="carousel-cell">
                                <img src="{{img.image.url}}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 product-detail">
                    <span class="label label-top">{{product.label}}</span>
                    <div class="row product-header">
                        <div class="col-sm-6">
                            <span class="model">{{product.model}}</span>
                        </div>
                        <div class="col-sm-12">
                            <h1 class="title">{{product.title}}</h1>
                        </div>
                        <div class="col-sm-12 seo-text">
                            <p>{{product.description}}</p>
                            <a href="#" class="more">more detals</a> 
                        </div>
                        <div class="col-sm-12 price">
                            <p>RP. {{product.price}}</p>
                        </div>
                        <div class="col-sm-12">
                            <a href="" class="btn-jm-black">Order whatsapp</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 product-info">
                    <div class="tabs d-flex justify-content-between pb-5 mt-9">
                        <h5 class="tab-header active" data-tab="1"> Product description</h5>
                        <h5 class="tab-header" data-tab="2"> Review</h5>
                        <h5 class="tab-header" data-tab="3"> Pembayaran dan pengiriman</h5>
                    </div>
                    <div class="tab-panes">
                        <div class="tab active" data-tab="1">
                            <div id="tabDescription" class="tab-pane">
                                    {{product.detail | safe }}
                            </div>
                        </div>
                        <div class="tab" data-tab="2">
                            <div id="review" class="tab-pane">
                                review
                            </div>
                        </div>
                        <div class="tab" data-tab="3">
                            <div id="paymentShipping" class="tab-pane">
                                Payment and shipping
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}