 {% load static %}   

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static '' %}scripts/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% static '' %}scripts/bower_components/modernizr/modernizr.js"></script>
    <script src="{% static '' %}scripts/bower_components/jquery/dist/jquery.js"></script>
    <script src="{% static '' %}scripts/bower_components/desandro-matches-selector/matches-selector.js"></script>
    <script src="{% static '' %}scripts/bower_components/ev-emitter/ev-emitter.js"></script>
    <script src="{% static '' %}scripts/bower_components/fizzy-ui-utils/utils.js"></script>
    <script src="{% static '' %}scripts/bower_components/get-size/get-size.js"></script>
    <script src="{% static '' %}scripts/bower_components/unipointer/unipointer.js"></script>
    <script src="{% static '' %}scripts/bower_components/unidragger/unidragger.js"></script>
    <script src="{% static '' %}scripts/bower_components/flickity/js/index.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/util.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/alert.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/button.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/carousel.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/collapse.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/dropdown.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/modal.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/scrollspy.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/tab.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/tooltip.js' %}"></script>
    <script src="{% static '/scripts/bower_components/bootstrap/js/dist/popover.js' %}"></script>
    <script src="{% static '/scripts/bower_components/flickity/dist/flickity.pkgd.min.js' %}"></script>
    <script src="{% static '/scripts/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="{% static '' %}scripts/main.js"></script>
    <!-- endbuild -->