{% extends 'base.html' %}
{% load static %}

{% block body %}
      <div class="store-product information d-flex">
            {% include 'aside-information.html' %}
            <div class="storefront information-content related text-left col-9">
                <div class="d-flex flex-column justify-content-between">
                    <ul class="bredchrumb nav">
                        <li class="nav-link text-uppercase pl-0">Home</li>
                        <li class="nav-link text-uppercase">Showroom</li>
                    </ul>
                </div>
                
                <h1>Showrooms</h1>
                <p>Temukan showroom terdekat kami disekitar anda : </p>
                <div class="showrooms-information">
                    <div class="row d-flex">
                        <div class="col-sm-6 showroom-address">
                            <h4>Anugerah <br> Mebel Kasongan</h4>
                            <p><a href="https://goo.gl/maps/ouVv8BtCFUA4ipdq6" alt="directions" target="_blank">
                                JL. Kasongan, Bantul, Bantul, Yogyakarta
                            </a></p>
                        </div>
                        <div class="col-sm-6 showroom-images">
                            <a href="https://goo.gl/maps/ouVv8BtCFUA4ipdq6" target="_blank">
                                <img src="{% static '' %}images/anugrah-mebel-kasongan.png" alt="Anugerah mebel" class="img-fluid rounded jm-img-hover">
                            </a>
                        </div>
                    </div>
                </div>
                
                
                

            </div>
        </div>
{% endblock body %}