{% load static %}

<div class="storefront container related text-left mt-9 mb-10">
  <b></b>
  <div class="products d-flex">
    {% for product in product_list %}
    <a
      href="/product/{{product.id}}/{{product.slug}}"
      class="item d-flex flex-column justify-content-between align-items-center"
    >
      <div class="caption w-100 d-flex justify-content-between">
        <div class="detail">
          <h2 class="title">{{product.title}}</h2>
          <div class="price">RP {{product.price}}</div>
        </div>
        <span class="label label-top text-uppercase">{{product.label}}</span>
      </div>
      <div class="images text-center">
        <img
          src="{{product.image.url}}"
          alt="JM-195"
          class="img-fluid"
        />
      </div>
      <div class="model w-100 text-left">{{product.model}}</div>
    </a>
    {% endfor %}
  </div>
</div>
